html {
  min-height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
}

.landing_bg {
  margin: 0px;
  padding: 25px;
  background: url("../img/landing.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100vh;
}
